################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SP/.vs/SP
/SP/Intermediate
/SP/Saved/UnrealBuildTool
/SP/.vsconfig
/SP/Saved/Logs
/SP/Binaries/Win64
/SP/Saved
/SP/.vs/ProjectEvaluation
